<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content = "width=device-width">
</head>

<body>
	{% block content %}
	
	<!-- CREATE -->
	<form method="POST" action='/database/aksiologisi/create'>
		<input type="submit" name = 'create' value="Create">
	</form>

	<!-- RETRIEVE -->
	<form method="POST" action = "{{ url_for('retrieve', variable = aksiologisi) }}">
		<input type="submit" name="retrieve" value="Retrieve">
	</form>
	

	<!-- UPDATE -->
	<form method="POST" action= url_for(update, variable = aksiologisi)>
		<input type="submit" name='update' value="Update">
	</form>


	<!-- DELETE -->
	<form method="POST" action='/database/aksiologisi/delete'>
		<input type="submit" name="delete" value="Delete">
	</form>
	
	{% endblock %}
</body>

"{{ url_for('specific_date', date='2019-04-11') }}"