<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width">
</head>
<body>
    {% block content %}
    <form method="POST" action='/database/epistimoniko_pedio'>
    	<input type="submit" name="epistimoniko_pedio" value="Epistimoniko Pedio">
    </form>
    <form method="POST" action='/database/stelexos'>
    	<input type="submit" name="stelexos" value="Stelexos">
    </form>
    <form method="POST" action='/database/programma'>
    	<input type="submit" name="programma" value="Programma">
    </form>
    <form method="POST" action='/database/organismos'>
    	<input type="submit" name="organismos" value="Organismos">
    </form>
    <form method="POST" action='/database/panepistimio'>
    	<input type="submit" name="panepistimio" value="Panepistimio">
    </form>
    <form method="POST" action='/database/etairia'>
    	<input type="submit" name="etairia" value="Etairia">
    </form>
    <form method="POST" action='/database/ereunitiko_kentro'>
    	<input type="submit" name="ereunitiko_kentro" value="Ereunitiko Kentro">
    </form>
    <form method="POST" action='/database/organismos_tilefwna'>
    	<input type="submit" name="organismos_tilefwna" value="Organismos Tilefwna">
    </form>
    <form method="POST" action='/database/ereunitis'>
    	<input type="submit" name="ereunitis" value="Ereunitis">
    </form>
    <form method="POST" action='/database/aksiologisi'>
    	<input type="submit" name="aksiologisi" value="Aksiologisi">
    </form>
    <form method="POST" action='/database/ergo'>
    	<input type="submit" name="ergo" value="Ergo">
    </form>
    <form method="POST" action='/database/paradoteo'>
    	<input type="submit" name="paradoteo" value="Paradoteo">
    </form>
    <form method="POST" action='/database/epistimoniko_pedio_ergou'>
    	<input type="submit" name="epistimoniko_pedio_ergou" value="Epistimoniko Pedio Ergoy">
    </form>
    <form method="POST" action='/database/ergazetai_se'>
    	<input type="submit" name="ergazetai_se" value="Ergazetai Se">
    </form>
    {% endblock %}
</body>