<div class="container">
    <table class="table" border=1>
        <thead>
            <tr>
                <th scope="col"> Counter: </th>
                {% for head in DescTable %}
                <th scope="col">{{ head }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in Answer %}
        	<tr>
        		<td><b>{{ loop.index }}</b></td>
        		{% for cell in row %}
            	<td>{{ cell }}</td>
            	{% endfor %}
        	</tr>
    	{% endfor %}
		</tbody>
	</table>
</div>

<!-- Primary key needs to exist -->


<p> 
    Type the changes you would like to commit:
</p>
<p>
    Note: specify by ID num the row to be deleted, ID needs to exist
    <table class="table" border=1>
        <form method = 'POST' action = "{{ url_for('updated_table', variable = variable, var = 'delete' )}}">
            <input type="text" id="ID" name= "ID" >
            <button type="submit"> Delete </button>
        </form>
    </table>
</p> 