<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content = "width=device-width">
</head>

<body>
	{% block content %}
		<!-- CREATE -->
	<form method="POST" action="{{ url_for('create', variable = 'epist_pedio') }}")>
		<input type="submit" name = 'pedio1' id = 'pedio1' value="Create">
	</form>

		<!-- RETRIEVE -->
	<form method="POST" action="{{ url_for('retrieve', variable = 'epist_pedio') }}">
		<input type="submit" name="retrieve" value="Retrieve">
	</form>
		

		<!-- UPDATE # polla variables analoga tin metavliti--> 
	<form method="POST" action= "{{ url_for('update', variable = 'epist_pedio') }}">
		<input type="submit" name='update' value="Update">
	</form>


		<!-- DELETE -->
	<form method="POST" action="{{ url_for('delete', variable = 'epist_pedio') }}">
		<input type="submit" name="delete" value="Delete">
	</form>
		
	{% endblock %}
	<p> Current Epistimoniko Pedio: </p>
	

</body>
