<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content = "width=device-width">
</head>
<body>
	{% block content %}
	<form method="POST" action='/'>
		<input type="submit" name = 'database' value="Go to database">
	</form>
	<form method="POST">
		<input type="submit" name='Q1' value="Go to Q1">
		<input type="submit" name="Q2" value="Go to Q2">
		<input type="submit" name="Q3" value="Go to Q3">
		<input type="submit" name="Q4" value="Go to Q4">
		<input type="submit" name="Q5" value="Go to Q5">
		<input type="submit" name="Q6" value="Go to Q6">
		<input type="submit" name="Q7" value="Go to Q7">	
		<input type="submit" name="Q8" value="Go to Q8">
	</form>
	{% endblock %}
</body>
