<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content = "width=device-width">
</head>
<body>
	<table border=2>
		{% for Q in Q3f1Answer %}
		<tr>
			<td>
				{{Q[0]}}	
			</td>
			<td>
				{{Q[1]}}
			</td>
		</tr>
		{% endfor %}
	</table>
	<p></p>
	<table border=3>
		{% for Q in Q3f2Answer %}
		<tr>
			<td>
				{{Q[0]}}	
			</td>
			<td>
				{{Q[1]}}
			</td>
			<td>
				{{Q[2]}}
			</td>
		</tr>
		{% endfor %}
	</table>
</body>